.container {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.panel {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.active {
    color: #f4511e;
    cursor: pointer;
    position: relative;
    padding: 15px 15px 14px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}






#login-submit {
    background-color: #f4511e;
    color: #fff;
}
